In [49]:
import pandas as pd

# Converting json to csv for processing

In [20]:
Tweet_raw_data_1= pd.read_json('corona_tweets_15.jsonl', lines=True)

In [21]:
Tweet_raw_data_1.shape

(7925, 34)

In [25]:
Tweet_raw_data_1.head(3)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,...,favorite_count,favorited,retweeted,possibly_sensitive,lang,retweeted_status,extended_entities,withheld_in_countries,withheld_scope,withheld_copyright
0,2020-04-02 06:36:17+00:00,1245600924141158400,1245600924141158400,On this situation all the people of Maharashtr...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/android"" ...",NaN,NaN,...,0,False,False,0.0,en,NaN,NaN,NaN,NaN,NaN
1,2020-04-02 06:36:19+00:00,1245600933993562000,1245600933993562112,RT @ashokgehlot51: People of #Rajasthan have a...,False,"[0, 140]","{'hashtags': [{'text': 'Rajasthan', 'indices':...","<a href=""http://twitter.com/download/android"" ...",NaN,NaN,...,0,False,False,NaN,en,{'created_at': 'Wed Apr 01 15:39:58 +0000 2020...,NaN,NaN,NaN,NaN
2,2020-04-02 06:36:20+00:00,1245600939538407400,1245600939538407424,@narendramodi You have to consider using nucle...,False,"[14, 189]","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/android"" ...",1.245519e+18,1.245519e+18,...,0,False,False,NaN,en,NaN,NaN,NaN,NaN,NaN

In [24]:
Tweet_raw_data_1.dtypes

created_at                   datetime64[ns, UTC]
id                                         int64
id_str                                     int64
full_text                                 object
truncated                                   bool
display_text_range                        object
entities                                  object
source                                    object
in_reply_to_status_id                    float64
in_reply_to_status_id_str                float64
in_reply_to_user_id                      float64
in_reply_to_user_id_str                  float64
in_reply_to_screen_name                   object
user                                      object
geo                                       object
coordinates                               object
place                                     object
contributors                             float64
is_quote_status                             bool
quoted_status_id                         float64
quoted_status_id_str                     float64
quoted_status_permalink                   object
quoted_status                             object
retweet_count                              int64
favorite_count                             int64
favorited                                   bool
retweeted                                   bool
possibly_sensitive                       float64
lang                                      object
retweeted_status                          object
extended_entities                         object
withheld_in_countries                     object
withheld_scope                            object
withheld_copyright                       float64
dtype: object

In [26]:
Tweet_raw_data_1_reformed= Tweet_raw_data_1.drop(columns=['created_at', 'id', 'id_str', 'truncated', 'display_text_range', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'contributors', 'quoted_status_id', 'quoted_status_id_str','quoted_status_permalink', 'quoted_status' ,'favorited', 'retweeted', 'lang', 'retweeted_status', 'extended_entities','withheld_in_countries', 'withheld_scope', 'withheld_copyright'])

In [27]:
Tweet_raw_data_1_reformed.shape

(7925, 8)

In [65]:
Tweet_raw_data_1_reformed.head(5)

,full_text,is_quote_status,retweet_count,favorite_count,possibly_sensitive
0,on this situation all the people of maharashtr...,True,0,0,0.0
1,rt @ashokgehlot51: people of #rajasthan have a...,False,517,0,NaN
2,@narendramodi you have to consider using nucle...,False,0,0,NaN
3,"rt @yadavtejashwi: remember, it's a marathon a...",False,207,0,NaN
4,rt @tehseenp: india might potentially have the...,False,168,0,NaN

# Processed raw tweets (removed columns)

In [76]:
Tweet_raw_data_1_reformed.to_csv("Tweets_converted_15.csv", index= False)

In [42]:
Tweet_raw_data_1_reformed = Tweet_raw_data_1_reformed.drop(columns=['place','coordinates','geo'])

In [45]:
most_popular_tweets = Tweet_raw_data_1_reformed['full_text'].value_counts()

In [48]:
most_popular_tweets.to_csv("popular_tweet_counts.csv")

# Filtering Tweets based on Covid health keywords

In [50]:
# 50 COVID/health related keywords for filtering target information and misinformation
covid_health_keywords = ['drug','fda-approved', 'scientific evidence', 'social distance', 'immunity drink', 'hydroxychloroquine', 'face mask', 'chloroquine', 'azithromycin', 'heparan sulfate', 'sars', 'tide pods', 'bleach shots', 'treatment', 'health', 'mask', 'pneumonia', 'vaccine', 'uv light', 'homeopathy', 'herd immunity', 'sanitizer', 'sunlight', 'uv ray', 'disinfectant', 'vitamin d', 'immunity booster', 'n95', 'n-95', 'antibody test', 'dengue', 'screening patient', 'stay at home', 'stay home', 'body pain', 'fever', 'slight cough', 'amphetamine', 'wash hand', 'hand wash', 'home stay', 'testing', 'wuhanvirus', 'wuhan virus', 'lockdown', 'hoax', 'antibodies', 'antibody','immunity', '5g']

In [53]:
len(covid_health_keywords)

50

In [18]:
#df = pd.DataFrame({'name':['Allan2','Mike39','Brenda4','Holy5'], 'Age': [30,20,25,18],'Zodiac':['Aries','Leo','Virgo','Libra'],'Grade':['A','AB','B','AA'],'City':['Aura','Somerville','Hendersonville','Gannon'], 'pahun':['a_b_c','c_d_e','f_g','h_i_j']})

In [64]:
# convert all strings to lower case characters for efficient filtering
Tweet_raw_data_1_reformed['full_text'] = Tweet_raw_data_1_reformed['full_text'].str.lower()

In [66]:
filtered_tweet_data = Tweet_raw_data_1_reformed[Tweet_raw_data_1_reformed.full_text.str.contains('|'.join(covid_health_keywords))]

In [67]:
filtered_tweet_data.shape

(892, 5)

In [68]:
filtered_tweet_data.head(5)

,full_text,is_quote_status,retweet_count,favorite_count,possibly_sensitive
0,on this situation all the people of maharashtr...,True,0,0,0.0
4,rt @tehseenp: india might potentially have the...,False,168,0,NaN
19,"@httweets #soniagandhi ji, world is fighting #...",False,1,8,NaN
27,rt @legitngnews: â€œthe work on the drug we are ...,False,28,0,NaN
47,rt @ep_sciencetech: new issue of the #esmh pre...,False,11,0,NaN

In [69]:
filtered_tweet_data_unique = filtered_tweet_data.drop_duplicates(subset='full_text', keep='first')

In [70]:
filtered_tweet_data_unique.shape

(576, 5)

In [71]:
filtered_tweet_data_unique.head(5)

,full_text,is_quote_status,retweet_count,favorite_count,possibly_sensitive
0,on this situation all the people of maharashtr...,True,0,0,0.0
4,rt @tehseenp: india might potentially have the...,False,168,0,NaN
19,"@httweets #soniagandhi ji, world is fighting #...",False,1,8,NaN
27,rt @legitngnews: â€œthe work on the drug we are ...,False,28,0,NaN
47,rt @ep_sciencetech: new issue of the #esmh pre...,False,11,0,NaN

In [72]:
filtered_tweet_data_unique['is_quote_status'].value_counts()

False    486
True      90
Name: is_quote_status, dtype: int64

In [73]:
filtered_tweet_data_unique['possibly_sensitive'].value_counts()

0.0    194
1.0      3
Name: possibly_sensitive, dtype: int64

In [74]:
filtered_tweet_data_unique['retweet_count'].value_counts()

0      271
1       60
2       24
5       14
4       12
      ...
202      1
207      1
214      1
215      1
69       1
Name: retweet_count, Length: 108, dtype: int64

In [75]:
filtered_tweet_data_unique['favorite_count'].value_counts()

0      450
1       53
2       20
3       10
5        8
4        7
8        6
6        3
10       3
7        2
201      1
9        1
281      1
16       1
18       1
19       1
22       1
23       1
26       1
28       1
42       1
110      1
162      1
12       1
Name: favorite_count, dtype: int64